@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Barrio', cursive  ;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

html,
body {
  font-family: 'Barrio', cursive;
  line-height: 1.5;
  letter-spacing: 0.5px;
  
}

.name-gradient {
  font-weight: bold;
  background: linear-gradient(45deg, #d342b6, #ff7a3e, #f9ca24, #ff4d5a);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.noise {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIj48ZmlsdGVyIGlkPSJub2lzZUZpbHRlciI+PGZlVHVyYnVsZW5jZSB0eXBlPSJmcmFjdGFsTm9pc2UiIGJhc2VGcmVxdWVuY3k9IjAuNSIgbnVtT2N0YXZlcz0iMyIvPjwvZmlsdGVyPjxyZWN0IHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWx0ZXI9InVybCgjbm9pc2VGaWx0ZXIpIiBvcGFjaXR5PSIwLjA1Ii8+PC9zdmc+");
  opacity: 0.15; /* adjust grain strength */
  animation: noiseMove 1s steps(4) infinite;
}

@keyframes noiseMove {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-5%, -5%); }
  50% { transform: translate(5%, -10%); }
  75% { transform: translate(-10%, 5%); }
  100% { transform: translate(0, 0); }
}

html {
  scroll-behavior: smooth;
}

/* Needed for 3D flip */
.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
